@media (min-width:992px) and (max-width:1199px) {
    .hero__inner_section {
        min-height: 700px;
    }

    .imac__container {
        right: 5%;

        img {
            width: 550px;
        }
    }

    .container__text {
        display: flex;
        flex-direction: column;

        .hero__intro_order_button {
            width: 200px;
            align-self: center;
        }
    }

    .hero__about_section {
        padding-top: 200px;
        min-height: 1370px;
    }

    .hero__footer_contacts {
        padding: 15px;
    }
}



@media (min-width:768px) and (max-width:991px) {
    .hero__header {
        .hero__header_logo {
            width: unset;
        }
    }

    .hero__navbar {
        display: none;
    }

    .hero__header_burger_menu {
        text-align: -webkit-right;
        display: block;
        cursor: pointer;
        margin-top: 30px;
        margin-right: 20px;

        .burger__shape {
            width: 25px;
            height: 2px;
            background-color: #626670;
            margin: 2px;
            border-radius: 5px;
        }
    }

    .hero__inner_section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
    }

    .hero__inner_content_container {
        position: relative;
        bottom: 20px;
    }

    .container__text {
        h2 {
            text-align: center;
        }

        span {
            &:nth-child(4) {
                text-align: end;
                display: block;
            }
        }

        .hero__intro_order_button {
            height: 60px;
            width: 550px;
        }
    }

    .imac__container {
        display: none;
    }

    .hero__about_section {
        padding-top: 130px;
        min-height: 1300px;

        .content__container {
            display: unset;

            .hero__about_text {
                width: 100%;
                text-align: justify;

                h2 {
                    margin-bottom: 50px;
                }

                p {
                    margin-bottom: 20px;
                }
            }

            .hero__about_imgs {
                display: flex;
                width: unset;
                padding: 15px;

                .imgs__camera {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .imgs__notebook_pensil {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}