@media (min-width:992px) and (max-width:1199px) {
    .hero__inner_section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imac__container {
        right: 5%;

        img {
            width: 550px;
        }
    }

    .container__text {
        display: flex;
        flex-direction: column;

        .hero__intro_order_button {
            width: 200px;
            align-self: center;
        }
    }

    .hero__footer_contacts {
        padding: 15px;
    }
}


@media (min-width:768px) and (max-width:991px) {

    .hero__header {
        .hero__header_logo {
            width: unset;
        }
    }

    .hero__navbar {
        display: none;
    }

    .hero__burger_menu_wrapper {
        display: flex;
    }

    .hero__inner_section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
    }

    .hero__inner_content_container {
        position: relative;
        bottom: 20px;
    }

    .container__text {
        h2 {
            text-align: center;
        }

        span {
            &:nth-child(4) {
                text-align: end;
                display: block;
            }
        }

        .hero__intro_order_button {
            height: 60px;
            width: 550px;
            margin: 40px auto 10px auto;
        }
    }

    .imac__container {
        display: none;
    }

    .hero__about_section {
        padding-top: 130px;
        min-height: 1250px;

        .content__container {
            display: unset;

            .hero__about_text {
                width: 100%;
                text-align: justify;

                h2 {
                    margin-bottom: 50px;
                }

                p {
                    margin-bottom: 20px;
                }
            }

            .hero__about_imgs {
                display: flex;
                width: unset;
                padding: 15px;

                img {
                    width: 100%;
                }
            }

            .imgs__camera {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 80%;
                }
            }

            .imgs__notebook_pensil {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .hero__footer_section {
        .hero__footer_contacts {
            p {
                font-size: 10px;
            }

            span {
                font-size: 10px;
            }
        }
    }
}


@media (max-width:767px) {
    .hero__header {
        .hero__header_logo {
            width: unset;
        }
    }

    .hero__navbar {
        display: none;
    }

    .hero__burger_menu_wrapper {
        display: flex;
    }

    .hero__inner_section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
    }

    .hero__inner_content_container {
        position: relative;
        bottom: 20px;
    }

    .container__text {
        h2 {
            text-align: center;
        }

        span {
            &:nth-child(4) {
                text-align: end;
                display: block;
            }
        }

        .hero__intro_order_button {
            height: 60px;
            width: 550px;
            margin: 30px auto;
        }
    }

    .imac__container {
        display: none;
    }

    .hero__about_section {
        padding-top: 130px;
        min-height: 1300px;

        .content__container {
            display: unset;

            .hero__about_text {
                width: 100%;
                text-align: justify;

                h2 {
                    margin-bottom: 50px;
                }

                p {
                    margin-bottom: 20px;
                }
            }

            .hero__about_imgs {
                display: flex;
                width: unset;
                padding: 15px;

                .imgs__camera {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 80%;
                    }
                }

                .imgs__notebook_pensil {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .hero__footer_section {
        .hero__footer_contacts {
            p {
                font-size: 10px;
            }

            span {
                font-size: 10px;
            }
        }
    }
}


@media (max-width:480px) {
    .hero__header {
        .hero__header_logo {
            width: unset;
        }

        .hero__header_phone {
            display: none;
        }
    }

    .hero__burger_menu_wrapper {
        display: flex;
    }

    .container__text {
        text-align: center;

        h1 {
            font-size: 40px;
        }

        span {
            font-size: 40px;
            font-weight: 400;

            &:nth-child(2) {
                position: relative;
                right: 30%;
            }

            &:nth-child(4) {
                position: relative;
                right: 10%;
            }
        }

        .hero__intro_order_button {
            height: 60px;
            width: 350px;
            margin: 20px auto;
        }
    }

    .hero__about_section {
        min-height: 1100px;

        .content__container {
            display: unset;

            .hero__about_text {
                width: 100%;
                text-align: justify;

                h2 {
                    margin-bottom: 50px;
                }

                p {
                    margin-bottom: 20px;
                }
            }

            .hero__about_imgs {
                display: none;
            }
        }
    }
    .hero__footer_section {
        .hero__footer_contacts {
            padding: 5px;
            flex-direction: column;
            .contacts__address_phones {
                width: 100%;
                .contacts {
                    margin-bottom: 10px;
                }
                .phones {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width:320px) {
    .hero__header {
        flex-direction: column;
    }

    .hero__header_order-button {
        margin: 15px;
    }

    .hero__burger_menu_wrapper {
        padding: 10px;
    }

    .hero__inner_section {
        min-height: 550px;
    }

    .container__text {
        h1 {
            font-size: 30px;
            line-height: 40px;
        }

        h2 {
            font-size: 80px;
        }

        .hero__intro_order_button {
            width: 200px;
            height: 40px;
            margin: 10 auto;
        }
    }

    .hero__about_section {
        padding-top: 80px;
        min-height: 1030px;

        .content__container {
            .hero__about_text {
                h2 {
                    margin-bottom: 30px;
                }
            }
        }

        p {
            font-size: 12px;
            line-height: 26px;
        }
    }

    .hero__footer_section {
        .hero__footer_contacts {
            padding: 5px;
            flex-direction: column;
            .contacts__address_phones {
                width: 100%;
                .contacts {
                    margin-bottom: 10px;
                }
                .phones {
                    margin-bottom: 10px;
                }
            }
        }
    }
}